/* ADD YOUR CUSTOM CSS TO THIS FILE */
#logo {width: 160px}
.bg-primary {background-color: #e49fc9 !important; }
#page-top {font-family: "alkatra"}
#page-top {color:dimgrey}
h1 {font-style: oblique}
#menu {background-color: #e49fc9 !important;}
#menu {color: white}
#gallery {background-color: #e49fc9 !important;}
#gallery {color: white}